<footer class="page-footer font-small bg-info pt-4">
  <div class="ontainer">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-white">Siga-nos nas reses sociais</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li>
            <a href="https://www.linkedin.com/in/michelle-silva-madeira-8184aa189/" target="_blank"
              class="iconLinkedin">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
            <!--colocar um icone do linkedin-->
          </li>
          <li>
            <a href="https://github.com/michellemadeira1" target="_blank" class="iconGithub">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <!--colocar um icone do github-->
          </li>
        </ul>
      </div>
    </div>
  </div>

</footer>